
  *{
    font-size: 40px;
}
 #header{
   background-color:rgb(159, 212, 255);
   height: 100px;
  
 }
 #side{
   background-color:rgb(153, 200, 8);
   float:left;
   width:180px;
 
 
 }
 #main{
   width:100%;
   margin: -40px;
   border: -200px;

 }
 #footer{
   clear:both;
   height: 100px;
  
 }