img{
    border-radius: 10px;
}
*{
    font-size: 40px;
}
h2{
    margin: 10px 0px 0px;
}
p{
    margin: 0px;
}
 #header{
   background-color:rgb(159, 212, 255);
 }
 #side{
   float:left;
   width:180px;
 
 
 }
 #main{
   float:right;
   width:620px;

 }
 #footer{
    background-color:rgb(153, 200, 8);  
   clear:both;
   height: 210px;
  
 }